data generation

In [1]:
!pip install numpy
!pip install pandas
!pip install matplotlib

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.19.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib) (1.15.0)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Data for linear regression model

In [3]:
#--- Training data generation
# Number of training data
N_train = 100

# One-dimensional input data: Generated from a uniform distribution in the range [-5, +5]
x_train =(np.random.rand(N_train,1)-0.5)*2*5

# Determine the regression coefficient (w0, w1) with a normal random number
w0 = np.random.randn(1)
w1 = np.random.randn(1)

# noise
noise = np.random.randn(N_train,1)*0.5

# 1D output data
y_train = w1 + w1*x_train + noise

df = pd.DataFrame({'x':x_train.flatten(), 'y':y_train.flatten()})
df.to_csv('data01.csv', index=False)

In [4]:
# check data
df.head()

          x         y
0 -4.689493  0.091388
1 -4.250051 -0.178148
2  4.356135 -0.146941
3  0.802536  0.739524
4 -3.354171  0.259847

In [5]:
# check data
df.tail()

           x         y
95  3.366659  0.606215
96  1.615781  0.149865
97 -2.009022 -0.017575
98  4.704655  0.998242
99  1.927086 -0.207229

For class classification

In [6]:
N = 50 # Number of data in each class

np.random.seed(0)
xp1 = np.random.randn(N)+38.5 # Feature 1 (body temperature) of the regular case (cold)
xn1 = np.random.randn(N)+36.5 # Negative example (health) feature 1 (body temperature)
x1 = np.r_[xp1, xn1]

xp2 = np.random.randn(N)+4 # Feature 2 of regular cases (cold) (number of coughs)
xn2 = np.random.randn(N)+2 # Negative case (health) feature 2 (number of coughs)
x2 = np.r_[xp2, xn2]
x2[x2<0] = 0

X = np.c_[x1, x2]

y = np.r_[np.ones(N), np.zeros(N)] # Class label

df = pd.DataFrame({'Body heat':x1.flatten(), 'Num of cough':x2.flatten(), 'label':y.flatten()})
df.to_csv('data02.csv', index=False)

Dataset Iris

In [7]:
from sklearn.datasets import load_iris

iris = load_iris()
X = iris.data
y = iris.target

df = pd.DataFrame({iris.feature_names[0]:X[:,0].flatten(), iris.feature_names[1]:X[:,1].flatten(), 
                   iris.feature_names[2]:X[:,2].flatten(),iris.feature_names[3]:X[:,3].flatten(), 'Class label':y.flatten()})
df.to_csv('iris.csv', index=False)

In [8]:
df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  Class label
0                5.1               3.5  ...               0.2            0
1                4.9               3.0  ...               0.2            0
2                4.7               3.2  ...               0.2            0
3                4.6               3.1  ...               0.2            0
4                5.0               3.6  ...               0.2            0

[5 rows x 5 columns]

In [9]:
df.tail()

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  Class label
145                6.7               3.0  ...               2.3            2
146                6.3               2.5  ...               1.9            2
147                6.5               3.0  ...               2.0            2
148                6.2               3.4  ...               2.3            2
149                5.9               3.0  ...               1.8            2

[5 rows x 5 columns]